@media (min-width: 720px) {
  @font-face {
    font-family: "Cardo";
    src: url("../fonts/Cardo-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Prompt";
    src: url("../fonts/Prompt-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }
  .container {
    padding: 80px 40px;
  }
  .header {
    background-image: url("../images/mainBgTablet.png");
    background-position: bottom center;
  }
  .logoImgTop {
    max-width: 150px;
  }
  .nav {
    align-self: center;
  }
  .headerTitle {
    font-size: 40px;
    line-height: 1.25em;
    margin-bottom: 30px;
  }
  .headerText {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 60px;
  }
  .mainButton {
    width: 100%;
    max-width: 250px;
  }
  .brownSection {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .marginForButton {
    width: 60%;
  }
  .titleWithLine {
    position: relative;
    color: #d3b870;
    font-size: 16px;
    margin-left: 50px;
    letter-spacing: 2px;
  }
  .titleWithLine::before {
    width: 40px;
    left: -50px;
    bottom: 8px;
  }
  .mainTitle {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .white {
    color: white;
    font-size: 40px;
  }
  .businessKnowsTitle {
    font-size: 30px;
  }
  .red {
    color: #9a312e;
    font-size: 40px;
  }
  .black {
    color: black;
    font-size: 40px;
  }
  .bottom {
    margin: 0 !important;
  }
  .listWithYellowDots {
    margin-bottom: 60px;
  }
  .listItem {
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .weAreYourSolutionImg {
    width: 100%;
    height: 100%;
  }
  .rightContentPhoto {
    
  }

  .flex {
    flex-direction: row;
    display: flex;
  }
  .rightContentPhotoLitle {
    width: 50%;
    height: auto;
    display: block;
  }
  .leftContentWithPhoto {
    margin: 0 !important;
   
  }
  .leftContentWithPhotoLitle {
    width: calc(50% - 80px);
    padding: 70px 40px 70px 40px;
    align-self: center;
  }
  .humanResoursesBlock, .trainingBlock, .managementConsultingBlock, .financeConsultingBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .flex:nth-of-type(2) {
    flex-direction: row-reverse;
  }
 
  .goldCarrerBlock {
    padding: 60px 40px;
  }
  .careersTitle {
    margin-bottom: 50px;
    font-size: 40px;
  }
  .contactUsBlock {
    /* padding: 30px 40px 0; */
  }
  .typeOfContactAndDetails {
    display: flex;
    margin-bottom: 20px;
  }
  .typeOfContactAndDetails:last-of-type {
    margin-bottom: 60px;
  }
  .typeOfContact {
    display: block;
    width: 20%;
  }
  .contactDetails {
    display: block;
    width: 30%;
  }
  .footer {
    background-color: #240c0c;
    display: flex;
    flex-direction: column;
  }
  .logoFooterBlock {
    margin-bottom: 50px;
  }
  .logoFooter {
    width: 50%;
    height: auto;
  }
  .footerContentBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 24px;
  }
  .footerLink {
    margin-bottom: 50px;
  }
  .footerLink:last-of-type {
    display: none;
  }
}