@media (min-width: 1440px) {
 
  .container {
    padding: 60px 80px;
  }
  .desktopWrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }

  .desktopWrapper:nth-of-type(1) .container {
    padding: 80px 0;
  }
  .nav {
    display: none;
  }
  .desktopNav {
    display: flex;
    justify-content: space-between;
  }
  .navList {
    display: flex;
  }
  .navLink {
    text-decoration: none;
  }
  .navText {
    position: relative !important;

    font-size: 16px !important;
    line-height: 1.9em;
    color: white;
    margin-right: 60px;
    transition: 0.3s ease-in-out;
  }
  .navText::after {
    content: "";
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    background-color: #d3b870;
    transition: all 0.3s ease-in;
  }
  .navLink:hover .navText {
    color: #d3b870;
  }
  .navLink:hover .navText::after {
    opacity: 1;
  }
  .navList:nth-of-type(1) .accordion::after {
    display: none;
  }
  .navLink:nth-of-type(2) .navText {
    margin-right: 30px;
  }
  .navLink:nth-of-type(4) .navText {
    margin-left: 30px;
  }
  .innerMenu {
    font-size: 16px;
    line-height: 1.9em;
    margin: 0 !important;
    margin-bottom: 10px !important;
    color: white;
  }
  .accordion {
    position: relative;
    margin-right: 0 !important;
  }
  .triangleAccordion {
    position: absolute;
    width: 15px;
    min-width: 15px;
    min-height: 10px;
    height: 10px;
    background-image: linear-gradient(
        to right bottom,
        transparent 50%,
        #d3b870 0
      ),
      linear-gradient(to right top, #d3b870 50%, transparent 0);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left, right;
    left: 100%;
    opacity: 0;
    transform: translate(-250%) translateY(-49%);
    transition: transform 0.1s ease-in;
  }
  .active .triangleAccordion {
    opacity: 1;
  }
  .navTextSmall:hover {
    color: black;
  }
  .panel {
    text-align: center;
    color: white;
    background-color: #d3b870;
    min-width: 205px;
  }
  .navTextSmall {
    color: white;
    font-size: 15px !important;
    margin-bottom: 10px !important;
    transition: 0.2s ease-in-out;
  }

  .navLink .careersDesktop {
    background-color: #d3b870;
    width: 100%;
    text-align: center;
    transition: color 0.3s ease-in-out;
  }

  .navLink:hover .careersDesktop {
    color: black;
  }
  .careersDesktop::after {
    display: none;
  }
  .navList:nth-of-type(1) .navLink:nth-child(6) {
    margin-right: 40px !important;
  }
  .linkedinTop,
  .facebookTop {
    margin-top: 0 !important;
    transform: translateY(50%);
  }

  .headerContent .titleWithLine::before {
    width: 80px;
    left: -100px;
  }

  .headerContent .titleWithLine {
    margin-left: 100px;
  }

  .mainButton {
    width: 100%;
    max-width: 250px;
    transition: all 0.3s ease-in-out;
  }
  .mainButton:hover {
    background-color: #9a312e;
  }
  .redBg:hover {
    transform: scale(1.1);
  }

  .logoImgTop {
    max-width: 150px;
    height: 100%;
  }

  .businessKnows {
    display: flex;
    justify-content: space-between;
  }

  .brownSection:nth-of-type(1) .desktopWrapper .container {
    padding: 80px 0;
  }

  .rightContent,
  .leftContent {
    width: 100%;
    max-width: 500px;
  }

  .creamSection {
    padding: 100px 0px;
  }

  .cardsWithContent {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100% !important;
  }
  .leftContentWithPhoto {
    width: 33%;
  }

  .creamSection:nth-of-type(2) .container {
    padding: 0px;
  }

  .table {
    border-bottom: 1px solid black;
    border-right: none;
    height: calc(100% - 60px);
  }
  .leftContentWithPhoto:nth-of-type(3) .table {
    border-right: 1px solid black;
  }

  .leftContentWithPhoto {
  }

  .table {
    /* display: block;
    width: 450px;
    min-height: 300px; */
  }

  .goldCarrerBlock {
    padding: 30px 0;
    justify-content: center;
  }

  .carrerBlockDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
  }
  .careersTitle {
    margin-bottom: 0 !important;
    font-size: 40px;
  }
  .footer {
    position: relative;
    background-color: #240c0c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logoFooterBlock {
    margin-bottom: 50px;
  }
  .logoFooter {
    width: 50%;
    height: auto;
  }
  .footerContentBlock {
    display: flex;
    justify-content: space-between;
  }

  .quickLinksBlock,
  .footerContactBlock {
    width: 100%;
  }

  .copyrigthBlock {
    position: absolute;
    bottom: calc(0% + 60px);
  }
  .footerLink {
    margin-bottom: 50px;
  }
  .footerLink:last-of-type {
    display: block;
    margin-bottom: 0;
  }

  .redButton {
    text-align: end;
  }
}
